<!DOCTYPE html>
<html lang="en">
<head>
                <meta charset="UTF-8">
                <meta name="description" content="Free Web tutorials">
                <meta name="keywords" content="HTML, CSS, JavaScript">
                <meta name="author" content="John Doe">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semantic Element - 5</title>
</head>
<body style="background-color: #ccc">
    <header  style="background-color:#fff">
        <h2>Judul</h2>      
    </header>
    <nav  style="background-color:#fff">
    <aside>
        <ul>
            <li>Menu</li>
            <li>Tutorial</li>
            <li>Isi</li>
        </ul>
        </aside>
    </nav>
    <article style="background-color:#fff">
        <p>Hallo, nama saya <span style="font-size:40px">Bagus</span> ayo  <span style="font-size:40px">Balap</span> Dari Pada Turu.</p>
    </article>
    <footer style="background-color: #fff">footer</footer>
</body>
</html>